.account-info-wrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  background: #313131;
  width: fit-content;
}
.user-info {
  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
  border: 2px solid var(--color-blue-main);
  border-radius: 32px;
  height: 43px;
}
.user-info-wrapper {
  height: min-content;
}
.user-info-content {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #f4f4f4;
}
.user-info-wrapper .dropdown-toggle::after {
  display: none;
}
.user-info-wrapper .dropdown-menu {
  background: rgba(38, 38, 38, 1);
  padding: 0;
  width: 184px;
  border: 1px solid var(--color-gray-border);
  overflow: hidden;
  margin-top: 4px;
}
.user-info-wrapper .dropdown-item {
  color: var(--color-white-text);
  padding: 12px 16px;
}
.user-info-wrapper .dropdown-item:hover {
  background: #313131;
  color: var(--color-white-text);
}
.user-info-rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}
.user-info-icon {
  transition: transform 0.2s ease;
}
