.footer-wrapper {
  justify-content: center;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 20px 44px;
  background: transparent;
  width: 100%;
}
.footer-link {
  color: var(--color-white);
}
