html body {
  position: relative;
  min-height: 100vh;
  background: var(--color-black-main);
  margin: 0;
  font-family: 'Aeonik', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grecaptcha-badge {
  z-index: 99999
}


